<div class="container form-detail">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form [formGroup]="formCreate" (ngSubmit)="CreateUser()" autocomplete="off">
        <mat-card-title>{{title}}</mat-card-title>
        <div class="example-container">
          <mat-form-field>
            <input formControlName="title" matInput placeholder="Name">
          </mat-form-field>
          <mat-form-field>
            <input formControlName="author" matInput placeholder="Author">
          </mat-form-field>
          <mat-form-field>
            <textarea formControlName="description" matInput placeholder="Description"></textarea>
          </mat-form-field>

          <div class="col-md-4 text-center">
            <a type="button" style="background: #FFC107;text-decoration: none" routerLink="" mat-stroked-button>Back </a>
            <button type="submit" mat-stroked-button [disabled]="!formCreate.valid">Create</button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
